.row {
  margin: 0;
}

body {
  background-color: white;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

#circle {
  width: 67px;
  height: 67px;
  background: #ffe9c2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-left: 160px;
  margin-top: 190px;
  -webkit-box-shadow: 0 0 30px 30px #ffbc46;
  box-shadow: 0 0 30px 30px #ffbc46;
  webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}

#circle.hov {
  opacity: 1;
  webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-box-shadow: 0 0 30px 30px #ffbc46;
  box-shadow: 0 0 30px 30px #ffbc46;
}

.headbackground {
  background: url("images/header_background.svg") no-repeat;
  width: 100%;
  background-size: 100%;
  height: 565px;
  width: 1200px;
}

.col-xs-32 {
  margin-left: 15px;
}

.col-xs-32_ {
  margin-left: 15px;
  text-transform: none;
}

.cloud {
  float: right;
  background: url("images/lamp.svg") no-repeat;
  background-size: 100%;
  height: 530px;
  width: 360px;
  margin-top: -130px;
}

footer {
  background-color: #0098ff;
  height: 150px;
  font-size: 22px;
  color: white;
  padding-top: 60px;
  text-align: center;
  font-family: sans-serif;
}

nav {
  float: right;
}
nav li {
  float: left;
  list-style: none;
  font-size: 17px;
}
nav a {
  color: white;
  padding: 3px 5px;
  webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
nav a:hover, nav a:active {
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  background: #56bafe;
  webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}

.logo {
  float: left;
  font-family: Nautilus;
  font-size: 48px;
  color: #f2feff;
}

.head {
  margin-left: 100px;
  margin-right: 100px;
}

.logoMenu {
  padding-top: 28px;
}

.slogan {
  font-family: sans-serif;
  float: left;
  margin-top: 106px;
  width: 500px;
  line-height: 1.7;
}

.firstWord {
  color: #00749a;
  font-size: 30px;
}

.secondWord {
  color: white;
  font-size: 16px;
}

.testicon {
  width: 22px;
  border-image: none;
  border-image-width: 0;
  vertical-align: baseline;
  float: left;
  margin-top: 4px;
}

.registration {
  margin-left: 130px;
  margin-top: 10px;
}
.registration button {
  font-family: sans-serif;
  font-size: 20px;
  width: 220px;
  height: 50px;
  background: #e93737;
  border: none;
  border-radius: 5px;
  color: white;
  line-height: 1;
  padding: 0 20px;
  webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}
.registration button:hover {
  background: #e69200;
  webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}

.passReminder {
  text-align: center;
  width: 220px;
}
.passReminder a {
  color: #00749a;
}

.oneTwoThree {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  background-color: white;
}
.oneTwoThree li {
  float: left;
  list-style: none;
  width: 33.33333%;
}
.oneTwoThree li p {
  font-family: sans-serif;
  color: #a2aebc;
  font-size: 24px;
  line-height: 1;
  padding-right: 5px;
}
.oneTwoThree li p:nth-child(2) {
  font-family: sans-serif;
  font-size: 30px;
  color: #0096ff;
}
.oneTwoThree li p:nth-child(2):first-letter {
  color: #00749a;
}

.middle {
  background-color: #f5f8f9;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.hexagontext {
  float: left;
  margin-left: 50px;
  margin-bottom: 100px;
}
.hexagontext .hex {
  margin-bottom: -350px;
}

.hex {
  float: left;
  width: 280px;
}

.texthexagon {
  float: left;
  margin-bottom: -200px;
}
.texthexagon .hex {
  margin-bottom: 0px;
}
.texthexagon .text {
  padding-right: 200px;
}

main .text {
  float: left;
  width: 720px;
  position: relative;
  margin-left: 3px;
  margin-top: 75px;
}
main .text p {
  font-family: sans-serif;
  color: #a2aebc;
  font-size: 29px;
  line-height: 1;
}
main .text p:first-child {
  font-family: sans-serif;
  font-size: 50px;
  color: #0096ff;
}

.hexagon {
  position: relative;
  width: 218px;
  height: 125.86px;
  background-color: white;
  margin: 62.93px 0;
  border-left: solid 1px #bdc5cf;
  border-right: solid 1px #bdc5cf;
}
.hexagon:before {
  top: -77.0746px;
  border-top: solid 1.4142px #bdc5cf;
  border-right: solid 1.4142px #bdc5cf;
}
.hexagon:after {
  bottom: -77.0746px;
  border-bottom: solid 1.4142px #bdc5cf;
  border-left: solid 1.4142px #bdc5cf;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 154.15px;
  height: 154.15px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 30.9254px;
}

.hexagon2 {
  position: relative;
  width: 218px;
  height: 125.86px;
  background-color: white;
  margin: 62.93px 0;
  border-left: solid 1px #bdc5cf;
  border-right: solid 1px #bdc5cf;
  top: -186px;
}
.hexagon2:before {
  top: -77.0746px;
  border-top: solid 1.4142px #bdc5cf;
  border-right: solid 1.4142px #bdc5cf;
}
.hexagon2:after {
  bottom: -77.0746px;
  border-bottom: solid 1.4142px #bdc5cf;
  border-left: solid 1.4142px #bdc5cf;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 154.15px;
  height: 154.15px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 30.9254px;
}

.hexagon3 {
  z-index: 1;
  position: relative;
  width: 218px;
  height: 10.86px;
  background-color: white;
  margin: 62.93px 0;
  border-left: solid 1px #bdc5cf;
  border-right: solid 1px #bdc5cf;
  top: -256px;
}
.hexagon3:before {
  z-index: 1;
  top: -77.0746px;
  border: 0;
}
.hexagon3:after {
  z-index: 1;
  bottom: -77.0746px;
  border-bottom: solid 1.4142px #bdc5cf;
  border-left: solid 1.4142px #bdc5cf;
}

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 154.15px;
  height: 154.15px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 30.9254px;
}
